/* Global Styles (Strength: 1) */

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em
}

/* Class Styles (Strength: 10) */

.alert {
    color: #00FA9A !important;
    font-size: 1.5em;
}

.catchy {
    color: #191970;
}

/* ID Styles (Strength: 100) */
#chap {
    padding: 60px;
    margin: 20px;
    border: 2px solid #191970;
    background-color: turquoise;
}

table {
    background-color: turquoise;
}


#actions_title {
    font-size: 3em;
    color: gold;
}

/* An inline style is the most specific rule you can apply. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    background-color: gold;
    padding: 0.5em;

}

#header {
    background-color: blue;
    height: 10vh;
    text-align: center;
}

#main {
    background-color: classic blue;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    margin: 2px;
}

#content {
    flex-grow: 2;
    background-color: blue;
    flex-wrap: wrap;


}

#actions {
    flex-grow: 2;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


#footer {
    background-color: blue;
    min-height: 10vh;
}

#login-form {
    background-color: blue;
    border-style: dashed;
    border: 2px solid gold;


}

#register-form {
    background-color: blue;
    border-style: dashed;
    border: 2px solid gold;
}

/* 
.outer,
.inner {
    width: 20vw;
    height: 60vh;
}

.outer {
    display: inline-block;
    border: 5px solid turquoise;
    background: inherit;
}

.all {
    border-radius: 40px;
} */



h2,
h1,
h3 {
    text-align: center;
    color: turquoise;

    font: 3em sans-serif;
}

footer {
    clear: both;
    text-align: center;
}

marquee {
    color: turquoise;
}



.navigationbar {
    display: flex;
    direction: initial;
    flex-wrap: wrap;
    text-align: center;

}


.navigationbar>div {
    padding: 0px 107.4px;
    background: blue;
    font: 0.85em sans-serif;

}

audio {
    border: 2px whitesmoke;


}

a {
    color: gold;
}

table {
    border: 4px solid black;
}

td,
th {
    border: 1px solid black;
    font-size: 1.6em;
}

td p {
    font-size: 0.96em !important;
}

td img {
    width: 100%;
    height: auto;
}

#flex-img {
    display: flex;
    flex-direction: column;


}

#login-form img {
    width: 70%;
    height: auto;
}

#flex-img {
    display: flex;
    flex-direction: column;


}


@media screen and (max-width: 600px) {
    .navigationbar>a {
        text-align: center;
    }



    #actions {
        flex-grow: 1;

    }

    #content {
        flex-grow: 1;

    }

    #login-form img {
        width: 100%;
        height: auto;
    }

    #register-form img {
        width: 100%;
        height: auto;
    }

    table td img {
        width: 100%;
        height: auto;
    }

    td {
        font-size: 1.2em;
    }

    td p {
        font-size: 0.89m;
    }

    #main {

        flex-direction: column-reverse;

    }


}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .navigationbar {
        text-align: left;
        flex-direction: column;
        display: block;
    }



    #actions {
        flex-grow: 1;

    }

    #login-form img {
        width: auto;
        height: 25%;
    }

    #register-form img {
        width: 25%;
        height: auto;
    }

    #content {
        flex-grow: 1;

    }

    td {
        font-size: 2em;
    }

    td p {
        font-size: 1.2em;
    }

    table td img {
        width: 100%;
        height: auto;
    }

    nav a {
        font-size: 2em;
        display: block;
    }

    nav {
        height: 50vh;
    }

    #main {

        flex-direction: column-reverse;

    }
}