/* Global Styles (Strength: 1) */

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em
}

/* Class Styles (Strength: 10) */

h1>img {
    width: 7% !important;
    height: auto !important;
    margin: 0px !important;

}

.catchy {
    color: blue;
    font-family: "Castellar", fantasy;

}

input {
    width: 10vw;
    height: 5vh;
    margin: 3px;
}

#cent {
    margin: 15px 1in;
}

/* ID Styles (Strength: 100) */
#chap {
    padding: 60px;
    margin: 20px;
    border: 2px solid #191970;
    background-color: turquoise;
}

table {
    background-color: turquoise;
}

form p {
    color: gold;
}

#actions_title {
    font-size: 3em;
    color: gold;
}

aside>p {
    color: gold;
    font-size: 2em;
}

/* An inline style is the most specific rule you can apply. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    background-color: gold;
    padding: 0.5em;

}

#header {
    background-color: blue;
    height: 20vh;
    text-align: center;
}

#main {
    background-color: classic blue;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    margin: 2px;
}

#content {
    flex-grow: 2;
    background-color: blue;
    flex-wrap: wrap;


}


#actions {
    flex-grow: 1;
    background-color: gold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer {
    background-color: blue;
    min-height: 10vh;
}

#login-form {
    background-color: blue;
    flex-grow: initial;

}

#register-form {
    background-color: blue;
    flex-grow: 1;
}



h2,
h1,
h3 {
    text-align: center;
    color: turquoise;

    font: 3em sans-serif;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

footer {
    clear: both;
    text-align: center;
}

marquee {
    color: turquoise;
}

fieldset img {
    float: right;
}

.navigationbar {
    display: flex;
    direction: initial;
    flex-wrap: wrap;
    text-align: center;

}


.navigationbar>div {
    padding: 0px 107.4px;
    background: blue;
    font: 0.85em sans-serif;

}

audio {
    color: turquoise;

}

a {
    color: gold;
}

table {
    border: 4px solid blue;
    padding: 2px;
}

td,
th {
    border: 1px solid black;
    font-size: 1.6em;
}

td>p {
    font-size: 0.96em !important;
    padding: 22px;
}

td img {
    width: 100%;
    height: auto;
}

#flex-img {
    display: flex;
    flex-direction: column;


}


#login-form img {
    width: 100%;
    height: auto;
}

#register-form img {
    width: 100%;
    height: 100%;
}



@media screen and (max-width: 600px) {
    .navigationbar>a {
        text-align: center;
    }



    #actions {
        flex-grow: 1;

    }

    #content {
        flex-grow: 1;

    }

    #login-form img {
        width: 100%;
        height: auto;
    }

    #register-form img {
        width: 100%;
        height: auto;
    }

    input {
        width: 20vw;
        height: 20vh;
    }

    #cent {
        margin: 15px 1in;
    }

    table td img {
        width: 100%;
        height: auto;
    }

    fieldset img {
        float: right;
    }

    td {
        font-size: 1.2em;
    }

    td>p {
        font-size: 0.89em;
    }

    #main {

        flex-direction: column-reverse;
    }

    /* 
    }

    .navigationbar div img {
        width: 0.25%;
        height: auto;
    } */

    .navigationbar>div {
        padding: 0px 107.4px;
        background: blue;
        font: 0.85em sans-serif;

    }


}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .navigationbar {
        text-align: left;
        flex-direction: column;
        display: block;
    }

    .navigationbar div img {
        width: 0.25%;
        height: auto;
    }

    input {
        width: 20vw;
        height: 2vh;
        margin: 15px 1in;
    }

    input type {
        font-size: 4em;
    }

    #cent {
        margin: 15px 1in;
    }

    #header {
        height: 20vh;
    }

    #actions {
        flex-grow: 1;

    }

    #actions p {
        flex-grow: 1;
        font-size: 3em;
    }

    #login-form img {
        width: auto;
        height: 25%;
    }

    #register-form img {
        width: 25%;
        height: auto;
    }

    #content {
        flex-grow: 1;

    }

    td {
        font-size: 3em;
    }

    td>p {
        font-size: 4em;
    }


    table td img {
        width: 100%;
        height: auto;
    }

    nav a {
        font-size: 3em;
        display: block;
    }

    nav {
        height: 60vh;
    }

    .navigationbar>div {
        padding: 12px 108px;
        background: blue;
        font: 0.85em sans-serif;

    }

    #main {

        flex-direction: column-reverse;

    }

    h1,
    h2,
    h3 {
        font-size: 6em;
    }
}