/* Global Styles (Strength: 1) */

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

/* Class Styles (Strength: 10) */

.alert {
    color: #00FA9A !important;
    font-size: 1.5em;
}

.catchy {
    color: #00FA9A;
}

/* ID Styles (Strength: 100) */

#actions_title {
    font-size: 3em;
    color: aqua;
}

/* An inline style is the most specific rule you can apply. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    background-color: aquamarine;
    padding: 0.5em;
}

#header {
    background-color: #191970;
    height: 10vh;
    text-align: center;
}

#main {
    background-color: #191970;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
}

#content {
    flex-grow: 2;
    background-color: #D8BFD8;
    flex-wrap: wrap;
    border-style: ridge double;
    border-color: #191970;
    border-width: 1em;

}

#actions {
    flex-grow: 2;
    background-color: #D8BFD8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: ridge double;
    border-color: #191970;
    border-width: 1em;

}


#footer {
    background-color: #191970;
    min-height: 10vh;
}

#login-form {
    background-color: #D8BFD8;
    border: 2px;
    border-style: dashed;
    border-color: #191970;

}

#register-form {
    background-color: #D8BFD8;
    border: 2px;
    border-style: dashed;
    border-color: #191970;
}

h2,
h1,
h3 {
    text-align: center;
    color: #00FA9A;

    font: 2em sans-serif;
}

footer {
    clear: both;
    text-align: center;
}

marquee {
    color: #00FA9A;
}

.rotate:hover {
    transform: scale(1.7, 1.7)
}

.navigationbar {
    display: flex;
    direction: initial;
    flex-wrap: wrap;
    border: 2px dashed #191970;
    text-align: center;

}


.navigationbar>div {
    padding: 9px 107.4px;
    background: #191970;
    border: 2px solid#191970;
    font: 0.85em sans-serif;

}

audio {
    border: 2px whitesmoke;


}

a {
    color: #00FA9A;
}

table {
    border: 4px solid #191970;
}

td,
th {
    border: 1px solid #191970;
    font-size: 1.2em;
}

/* @media screen and (max-width: 600px) {
    p img {
        width: 100%;
    }

    div>a {
        text-align: left;
    }



    ul li {
        display: block;
        margin: 10px;
    }

    nav {
        justify-content: left;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    body {
        background-color: skyblue;
    }

    p img {
        width: 100%;
    }
} */
@media screen and (max-width: 600px) {
    .navigationbar>a {
        text-align: center;
    }



    #actions {
        flex-grow: 1;

    }

    #content {
        flex-grow: 1;

    }

    #main {

        flex-direction: column-reverse;

    }

}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .navigationbar {
        text-align: left;
        flex-direction: column;
        display: block;
    }



    #actions {
        flex-grow: 1;

    }

    #login-form {}

    #content {
        flex-grow: 1;

    }

    #main {

        flex-direction: column-reverse;

    }
}