<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="veiwport" content="width=device-width, intial-scale =1, minimum-scale=1">
    <meta name="description" content="This is a business directory" />
    <meta name="keywords" content="Anime Story , Fotsing Life , directory" />
    <meta name="veiwport" content="width=device-width, intial-scale =1, minimum-scale=1">
    <title>{%block title%}{{page_title}}{%endblock%}</title>
    <link href="static/css/styles.css" rel="stylesheet" type="text/css" />
</head>
{%block content%}

<body>
</body>
{%endblock%}

</html>